squada-one()
    font-family "Squada One"

.squada-one
    font-family "Squada One"

share()
    font-family "Share", sans

.share
    font-family "Share", sans

h1, h2, h3, h4, .h1, .h2, .h3, .h4
    squada-one()

p, span, li, label, span
    share()
