$body-accent = $agentOrange

.round-eye
    .round-eye-body
        .round-eye-img
            display block
            margin 0 auto

.round-eye.champ
    .round-eye-body
        h2
            squada-one()
            text-align center
            //text-transform uppercase
            text-shadow 2px 2px $body-accent
