mixin link(href, rel)
  if rel
    link(href=href, rel=rel)
  else
    link(href=href, rel="stylesheet")

doctype html
html
  head
    include includes/header

  body
    .body-wrap
      block nav
        include includes/nav.jade

      block body
