title Championship Trophy Fit
//meta(name="description", content="")

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(property="og:title", content="")
meta(property="og:site_name", content="")
meta(property="og:description", content="")
meta(property="og:url", content="")
meta(property="og:type", content="")
meta(property="fb:admins", content="")
// 800 x 800
meta(property="og:image", content="")

link(href='http://fonts.googleapis.com/css?family=Share:400,700|Squada+One',rel='stylesheet',type='text/css')

+link("/css/vendor/deps.css")
+link("/css/main.css")

include ga
